<div class="container-fluid" id="background">
    <div class="container-fluid" id="proyectos">
        <div class="jumbotron">
            <div class="container text-center">
              <h1>Soft Skills</h1>                  
            </div>
        </div>
        <div class="contenedor-habilidades-blandas">
            

            <div class="container">
                <div class="row">
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="col my-4">
                        <div class="container">
                            <circle-progress
                                id="progress-bar"
                                [percent]="100"
                                [radius]="80"
                                [space]="-20"
                                [outerStrokeWidth]="20"
                                [innerStrokeWidth]="20"
                                [outerStrokeLinecap]="'square'"
                                [outerStrokeColor]="'black'"
                                [innerStrokeColor]="'rgb(185, 185, 185)'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showBackground]="true"
                                [backgroundColor]="'transparent'"
                                [showImage]="true"
                                [imageSrc]="'https://i.ibb.co/Np0QLSS/kisspng-computer-icons-speech-balloon-conversation-online-talking-5ac2993de148b0-3782563315227026539.png'"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [outerStrokeGradient]="true"
                                [outerStrokeGradientStopColor]="'black'"
                            ></circle-progress>
                            <h4>
                                <b>
                                    Comunicativo
                                </b>
                            </h4>
                        </div>
                    </div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="col my-4">
                        <div class="container">
                            <circle-progress
                                id="progress-bar"
                                [percent]="100"
                                [radius]="80"
                                [space]="-20"
                                [outerStrokeWidth]="20"
                                [innerStrokeWidth]="20"
                                [outerStrokeLinecap]="'square'"
                                [outerStrokeColor]="'black'"
                                [innerStrokeColor]="'rgb(185, 185, 185)'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showBackground]="true"
                                [backgroundColor]="'transparent'"
                                [showImage]="true"
                                [imageSrc]="'https://i.ibb.co/7tsvzvh/pngwing-com-1.png'"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [outerStrokeGradient]="true"
                                [outerStrokeGradientStopColor]="'black'"
                            ></circle-progress>
                            <h4>
                                <b>
                                    Colaborativo
                                </b>
                            </h4>
                        </div>
                    </div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="col my-4">
                        <div class="container">
                            <circle-progress
                                id="progress-bar"
                                [percent]="100"
                                [radius]="80"
                                [space]="-20"
                                [outerStrokeWidth]="20"
                                [innerStrokeWidth]="20"
                                [outerStrokeLinecap]="'square'"
                                [outerStrokeColor]="'black'"
                                [innerStrokeColor]="'rgb(185, 185, 185)'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showBackground]="true"
                                [backgroundColor]="'transparent'"
                                [showImage]="true"
                                [imageSrc]="'https://i.ibb.co/FbS6ywH/kisspng-empathy-computer-icons-feeling-feeling-5ade25af501fe9-4998261715245080793282.png'"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [outerStrokeGradient]="true"
                                [outerStrokeGradientStopColor]="'black'"
                            ></circle-progress>
                            <h4>
                                <b>
                                    Empático
                                </b>
                            </h4>
                        </div>
                    </div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="col my-4">
                        <div class="container">
                            <circle-progress
                                id="progress-bar"
                                [percent]="100"
                                [radius]="80"
                                [space]="-20"
                                [outerStrokeWidth]="20"
                                [innerStrokeWidth]="20"
                                [outerStrokeLinecap]="'square'"
                                [outerStrokeColor]="'black'"
                                [innerStrokeColor]="'rgb(185, 185, 185)'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showBackground]="true"
                                [backgroundColor]="'transparent'"
                                [showImage]="true"
                                [imageSrc]="'https://i.ibb.co/0rDMhPJ/pngwing-com-2.png'"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [outerStrokeGradient]="true"
                                [outerStrokeGradientStopColor]="'black'"
                            ></circle-progress>
                            <h4>
                                <b>
                                    Autodidacta
                                </b>
                            </h4>
                        </div>
                    </div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                </div>    
            </div>           
        </div>
    </div>
</div>
