<!--Para habilitar el [formGroup] hay que importar ReactiveFormsModule en el modulo correspondiente-->
<!--agregamos el evento (ngSubmit) del boton enviar del formulario-->

<form [formGroup]= "form" (ngSubmit)= "onEnviar($event)" class="mb-3" Style="margin:20px; width:330px">
    <h3>Iniciar Sesión</h3>
    <p>para acceder a las herramientas de edición</p>
    <div class="mb-3">
      <label for="userName" class="form-label">Nombre de Usuario</label>
      <input type="text" class="form-control" id="userName" formControlName="userName" aria-describedby="userName" >
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password" 
      [ngClass]= "{'is-invalid':Password?.errors && Password?.touched, 
      'is-valid': !Password?.errors && Password?.touched}" 
      class="form-control" id="Password">
      <div *ngIf= "Password?.errors && Password?.touched">
        <p *ngIf= "Password?.hasError('required')" class="text-danger">
          El Password es requerido.
        </p>
        <p *ngIf= "Password?.hasError('minLength')" class="text-danger">
          El Password debe ser de 8 omás caracteres.
        </p>
      </div>
    </div>
    
    <div class="d-flex">
      <button type="submit" class="btn btn-secondary">Iniciar Sesion</button>
    </div>
    
</form>