<form 
    (ngSubmit)="onSubmit()"
    class="mb-3" Style="margin:20px; min-width: 330px;">
    <h3>
        Editar Curso
    </h3>
    <div class="mb-3">
        <label for="title">Nombre de la Institución</label>
        <input
            class="form-control" 
            type="text" 
            name="title" 
            id="title" 
            placeholder="'Nombre de la institución'" 
            [(ngModel)]="edu.title"
        />
    </div>
    <div class="mb-3">
        <label for="course">Curso</label>
        <input 
            class="form-control"
            type="text" 
            name="course" 
            id="course" 
            placeholder="'curso'" 
            [(ngModel)]="edu.course"
        />
    </div>
    <div class="mb-3">
        <label for="descripcion">Breve descripcion</label>
        <input
            class="form-control" 
            type="text" 
            name="descripcion" 
            id="descripcion" 
            placeholder="'breve descripcion'"
            [(ngModel)]="edu.descripcion"
        />
    </div>
    <div class="mb-3">
        <label for="year">Año</label>
        <input
            class="form-control" 
            type="text" 
            name="year" 
            id="year" 
            placeholder="'2018'"
            [(ngModel)]="edu.year"
        />
    </div>
    <div class="mb-3">
        <label for="certificadoUrl">Url certificado</label>
        <input 
            class="form-control"
            type="text" 
            name="certificadoUrl" 
            id="certificadoUrl" 
            placeholder="'https://...'"
            [(ngModel)]="edu.certificadoUrl"
        />
    </div>
    <div class="mb-3">
        <label for="logo">Url del logo de la institución </label>
        <input
            class="form-control" 
            type="text" 
            name="instLogoUrl"
            id="logo"
            placeholder="'https://www...'"
            [(ngModel)]="edu.instLogoUrl"
        />
    </div>
    <div class="d-flex mb-3">
        <button type="submit" class="btn btn-secondary">Enviar</button>
    </div>
</form>