<div class="edu-item">   
    <img [src]="edu.instLogoUrl" style="width:25%; border-radius:5px; margin-right: 15px;" alt="institution logo" >
    <div class="container-fluid">    
        <div  class="d-flex justify-content-between">
            <div class="flex">
                <h4>
                    {{edu.course}}
                </h4>
            </div>
            <div class="flex">                
                    <button type="button" 
                        class="btn dropdown-toggle btn-transparent"
                        data-bs-toggle="dropdown">
                    <fa-icon [icon]= "faPencil"
                             style="color:black"
                    ></fa-icon>
                </button>
                <div class="dropdown-menu" >
                    <app-edit-edu 
                    [edu]="edu"
                    ></app-edit-edu>
                  </div>
                    <button type="button" class="btn btn-transparent">
                        <fa-icon 
                            [icon]= "faTrash"
                            [ngStyle] = "{'color':'black'}"
                            (click) = "onDelete(edu)">
                        </fa-icon>
                    </button>                 
            </div>
        </div>
        <h6>
            {{edu.title}}
        </h6>
        <p>
            {{edu.descripcion}}
        </p>
        <p>        
            {{edu.year}}
        </p>
        <a title="link al certificado Obtenido" [href]="edu.certificadoUrl" class="text-dark"><b> Certificado </b></a>
    </div>
</div>    