<footer class="text-center text-lg-start text-white"style="background-color: black">
    <!-- Grid container -->
    <div class="container p-3 pb-0">
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1676134779/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" alt="logos de arg_programa">
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                    Guillermo Poggioni<p>(Full Stack Developer Jr.)</p>
                </h6>
                
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <p>
                    <fa-icon class="bottom-icon" [icon]= "faEnvelope"></fa-icon>
                    poggiogu@gmail.com
                </p>
                <p>
                    <fa-icon class="bottom-icon" [icon]= "faWhatsapp"></fa-icon>
                    +54 3546 513873
                </p>
            </div>
        </div>
    </div>
</footer>