<footer class="text-center text-lg-start text-white"style="background-color: black">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                    Argentina Programa 4.0 
                </h6>
                <p>
                    #yo_programo
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                    Guillermo Poggioni
                </h6>
                <p>
                    Full Stack Developer Jr. 
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <p>
                    <fa-icon class="bottom-icon" [icon]= "faEnvelope"></fa-icon>
                    poggiogu@gmail.com
                </p>
                <p>
                    <fa-icon class="bottom-icon" [icon]= "faWhatsapp"></fa-icon>
                    +54 3546 513873
                </p>
            </div>
        </div>
    </div>
</footer>