<footer class="text-center text-lg-start text-white"style="background-color: black">
    <!-- Grid container -->
    <div class="container p-3 pb-0">
        <!--Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <img src="https://i.ibb.co/LnVpj7t/Dise-o-sin-t-tulo-17.png" class="img-fluid">
            </div>      
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" >
              <h6>
                Guillermo Poggioni
              </h6>  
              <p>
                <a routerLink='/about' style="color:white">about the app</a>
              </p>
            </div>            
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <p>
                  <fa-icon class="bottom-icon" [icon]= "faEnvelope"></fa-icon>
                  poggiogu@gmail.com
              </p>
              <p>
                  <fa-icon class="bottom-icon" [icon]= "faWhatsapp"></fa-icon>
                  +54 3546 513873
              </p>
            </div>
        </div>
    </div>
</footer>