<nav class="navbar navbar-expand fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item1">
          <a 
            title="home page argentina_programa"
            href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
          <img src="./assets/images/download.png" 
               alt="#ArP4.0 logo" 
               class="d-block" 
          ></a>
        </li>
        <li class="nav-item1">
          <p>#AP4.0</p>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- Github -->
          <a
              href="https://github.com/poggiogu"
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              data-toggle="tooltip" 
              title="Github profile"
              ><fa-icon class="bottom-icon" [icon]= "faGithub"></fa-icon
          ></a>
        </li>
        <li class="nav-item">
            <!-- Facebook -->
            <a
              href="https://www.facebook.com/guille.poggioni/"
              class="btn btn-outline-light btn-floating m-1"
              class="text-white"
              role="button"
              data-toggle="tooltip" 
              title="Facebook profile"
                ><fa-icon class="bottom-icon" [icon]= "faFacebook"></fa-icon
            ></a>
        </li>
        <li class="nav-item">
            <!-- Instagram -->
            <a
                href="https://www.instagram.com/guille.poggioni/"
                class="btn btn-outline-light btn-floating m-1"
                class="text-white"
                role="button"
                data-toggle="tooltip" 
                title="Instagram profile"
                ><fa-icon class="bottom-icon" [icon]= "faInstagram"></fa-icon
            ></a>
        </li>
        <li class="nav-item" title="login" *ngIf="!this.authService.isLoggedInFn()">
          <app-login-button ></app-login-button>
        </li>
        <li class="nav-item">
          <app-logout-button title="logout" *ngIf="this.authService.isLoggedInFn()"></app-logout-button>
        </li>
      </ul>
    </div>
</nav>

