<nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
            <app-nav-brand-button></app-nav-brand-button>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Hard & Soft Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Working Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">About</a>
        </li>
      </ul>
    </div>
</nav>
