nav{
    background: black;
}
.nav-item1{
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    color:white;
}
.nav-item{
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}
.nav-item-hover{
    transform: scale(1.5 , 1.5);
}
img{
    max-height: 30px;
}
p{
    margin-top: 10px;
}
