<div class="container">
    <circle-progress
        id="progress-bar"
        [percent]="+hardSkill.porcentaje"
        [radius]="80"
        [space]="-20"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="20"
        [outerStrokeLinecap]="'square'"
        [outerStrokeColor]="hardSkill.color"
        [innerStrokeColor]="'rgb(185, 185, 185)'"
        [animation]="true"
        [animationDuration]="300"
        [showBackground]="true"
        [backgroundColor]="'transparent'"
        [showImage]="true"
        [imageSrc]="hardSkill.imagen"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'black'"
    ></circle-progress>
    <h4>
        <b>
            {{hardSkill.titulo}}
        </b>
    </h4>
    <div class="btn-group " role="group" aria-label="edit-delete">
        <button type="button" 
                        class="btn dropdown-toggle btn-transparent"
                        data-bs-toggle="dropdown">
                    <fa-icon [icon]= "faPencil"
                             style="color:black"
                    ></fa-icon>
                </button>
                <div class="dropdown-menu" >
                    <app-edit-hard-skill 
                    [hardSkill]="hardSkill"
                    ></app-edit-hard-skill>
                  </div>

        <button type="button" class="btn btn-transparen">
            <fa-icon 
                [icon]= "faTrash"
                [ngStyle] = "{'color':'black'}"
                (click) = "onDelete(hardSkill)"
               >
            </fa-icon>
        </button>
    </div> 
</div>

<!-- 
                <button type="button" 
                        class="btn dropdown-toggle btn-transparent"
                        data-bs-toggle="dropdown">
                    <fa-icon [icon]= "faPencil"
                             style="color:black"
                    ></fa-icon>
                </button>
                <div class="dropdown-menu" >
                    <app-edit-proyect 
                    [proyecto]="proyecto"
                    ></app-edit-proyect>
                  </div>
-->