#demo{
    max-height: 100%;
    min-width: 100% ;
    background: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
.carousel-inner{
    background-color: transparent;
    margin-right: auto;
    
}
.btn-control{
    background-color: rgb(43, 43, 43);
    transition: opacity 2s;
    text-shadow: 1px 1px 2px white 0 0 25px white, 0 0 5px white;
    color:black;
    opacity: 0.2;
    max-width: 10vw;
}
.btn-control:hover{
    background-color: rgb(43, 43, 43);
    opacity: 0.5;
    cursor:pointer;
}