<!-- Carousel -->
<div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
    <!-- The slideshow/carousel -->
      
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <app-proyecto></app-proyecto>
      </div>
           
      <!--Left and right controls/icons-->
      <button class="btn-control carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>

      <button class="btn-control carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
 
    </div>
  </div>
  