<div class="exp-item">   
<img [src]= "exp.brandLogoUrl" style="width:20%" alt="Company Logo" >
    <div class="container">
        <div  class="d-flex justify-content-between">
            <div class="flex">
                <h4>
                    {{exp.text}}
                </h4>
            </div>
            <div class="flex">
                <fa-icon 
                    [icon]= "faPencil"
                    [ngStyle] = "{'color':'black'}"
                    >
                </fa-icon>
                <fa-icon 
                    [icon]= "faTrash"
                    [ngStyle] = "{'color':'black'}"
                    (click) = "onDelete(exp)">
                </fa-icon>
            </div>
         </div>
        <p>{{exp.cargo}}</p>
        <p>{{exp.dates}}</p>
    </div>
</div>