<div class="exp-item">   
    <img [src]= "exp.brandLogoUrl" style="width:15%; border-radius:5px;" alt="Company Logo" >
    <div class="container ml-3">
        <div  class="d-flex justify-content-between">
            <div class="flex">
                <h4>
                    {{exp.text}}
                </h4>
            </div>
            <div class="flex">
                <div class="btn-group" role="group" aria-label="edit-delete">
                    <button 
                        type="button" 
                        class="btn dropdown-toggle btn-transparent"
                        data-bs-toggle="dropdown">
                        <fa-icon [icon]= "faPencil"
                                    style="color:black"
                        ></fa-icon>
                    </button>
                    <div class="dropdown-menu" >
                        <app-edit-exp
                            [exp]="exp"
                        ></app-edit-exp>
                    </div>
                    <button type="button" class="btn btn-transparent">
                        <fa-icon 
                            [icon]= "faTrash"
                            [ngStyle] = "{'color':'black'}"
                            (click) = "onDelete(exp)">
                        </fa-icon>
                    </button>
                </div> 
            </div>
         </div>
         <h6>{{exp.cargo}}</h6>
         <p>{{exp.descripcion}}</p> 
         <p>{{exp.dates}}</p>
    </div>
</div>
