<form 
    class="add-form"   
    (ngSubmit)="onSubmit()"
    class="md-4" 
    Style="margin:20px; min-width: 330px;">
    <h3>
        Nuevo Proyecto 
    </h3>
    <div class="">
        <label  for="nombre">Nombre del Proyecto</label>
        <input
            class="form-control" 
            type="text" 
            name="nombre" 
            id="nombre" 
            placeholder="'Nombre del Proyecto'" 
            [(ngModel)] = "nombre"
        />
    </div>
    <div class="">
        <label  for="descripcion">Descripción</label>
        <input 
            class="form-control"
            type="text" 
            name="descripcion" 
            id="text" 
            placeholder="'de que se trata el proyecto'" 
            [(ngModel)] = "descripcion"
        />
    </div>
    <div class="">
        <label for="fecha">Mes y Año de realización</label>
        <input 
            class="form-control"
            type="text" 
            name="fecha" 
            id="fecha" 
            placeholder="'Junio 2018'" 
            [(ngModel)] = "fecha"
        />
    </div>
    <div class="">
        <label for="urlimagen">Url de captura del proyecto</label>
        <input 
            class="form-control"
            type="text" 
            name="urlimagen" 
            id="urlimagen" 
            placeholder="'https://...'"
            [(ngModel)] = "urlimagen"
        />
    </div>
    <div class="">
        <label for="reminder">Url del repositorio</label>
        <input 
            class="form-control"
            type="text" 
            name="urlrepositorio"
            id="urlrepositorio"
            placeholder="'https://...'"
            [(ngModel)] = "urlrepositorio"
        />
    </div>
    <div class="d-flex  mb-12 lg-12 sm-12">
        <button type="submit" class="btn btn-secondary">Enviar</button>
    </div>
</form>