<div class="container-fluid" id="background">
    <div class="row" >
        <div class="col-md-4" id="skill-set">
            <h3>Hard Skills</h3> 
            <br>
            <br>
            <p><strong>Bootstrap</strong></p>
                <div class="progress bg-dark">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" 
                    style="width:65%">
                    </div>
                </div>
            <br>    
            <p><strong>Angular</strong></p>
            <div class="progress bg-dark">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
                style="width:50%">
                </div>
            </div>  
            <br>
            <p><strong>Typescript</strong></p>
            <div class="progress bg-dark">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" 
                style="width:70%">
                </div>
            </div>           
        </div>

        <div class="col-md-4" id="skill-set">
            <h3>Soft Skills</h3> 
            <br>
            <br>
            <p><strong>Team Worker</strong></p>
            <div class="progress bg-dark">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" 
                style="width:100%">
                </div>
            </div>     
            <br> 
            <p><strong>Fast Learner</strong></p>
            <div class="progress bg-dark">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" 
                style="width:100%">
                </div>
            </div>
            <br>  
            <p><strong>Curious</strong></p>
            <div class="progress bg-dark">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" 
                style="width:100%">
            </div>
            </div>         
        </div>
    </div>
</div>