#demo{
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2016/08/02/07/45/the-polygon-1562743_960_720.jpg) repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
.carousel-inner{
    background-color: transparent;
    margin-right: auto;
}
.carousel-caption{
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    color:white;
}
.carousel-control-prev:hover{
    background-color: rgb(43, 43, 43);
    opacity: 0.2;
}
.carousel-control-next:hover{
    background-color: rgb(43, 43, 43);
    opacity: 0.2;
}
