<!-- Carousel -->
<div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <!-- Indicators/dots 
    <div class="carousel-indicators">
      <button type="button" class="btn" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" class="btn" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" class="btn" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>-->
    
    <!--Left and right controls/icons-->
    
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      
      <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next " type="button" data-bs-target="#demo" data-bs-slide="next">
      
      <span class="carousel-control-next-icon"></span>
    </button>
   
    
    <!-- The slideshow/carousel -->
      
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <div class="d-flex justify-content-center">
          <img src="https://cdn.pixabay.com/photo/2016/09/14/15/48/usa-1669704_960_720.jpg" 
               alt="Chicago" 
               class="d-block"
               style="height: 100vh"
               >
          <div class="carousel-caption d-none d-md-block">
              <h5><strong>Photo Gallery App</strong></h5>
              <p>easy use, fast and responsive gallery to organize and show your photos</p>
              <a style="color:white" routerLink="/sorry">Go To Project!</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img src="https://cdn.pixabay.com/photo/2016/11/18/21/46/fog-1837025_960_720.jpg" 
               alt="New York" 
               class="d-block" 
               style="height: 100vh"
               >
          <div class="carousel-caption d-none d-md-block">
            <h5><strong>My Task List</strong></h5>
            <p>Simple task list to organize your routine</p>
            <a  style="color:white" routerLink="/sorry">Go To Project!</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center">
          <img src="./assets/images/nightSky.jpg" 
               alt="VDD" 
               class="d-block" 
               style="height: 100vh"
               >
          <div class="carousel-caption d-none d-md-block">
            <h5><strong>Web Crawler App</strong></h5>
            <p>gather data as needed for analisys, built in python 2</p>
            <a style="color:white" routerLink="/sorry">Go To Project!</a>
          </div>
        </div>
      </div>
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" class="btn" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" class="btn" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" class="btn" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div> 
      <!--Left and right controls/icons-->
    
      <button class="btn-control carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>

      <button class="btn-control carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
  