#demo{
    max-height: 100%;
    min-width: 100% ;
    background: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
.carousel-inner{
    background-color: transparent;
    margin-right: auto;
}
.carousel-caption{
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    color:white;
}
.btn-contrl{
    opacity:0;
    transition: opacity 2s;
}
.btn-control:hover{
    background-color: rgb(43, 43, 43);
    opacity: 0.2;
    cursor:pointer;
}