<div class="card" style="width: 18rem; margin-top: 20px;">
    <img class="card-img-top"
         [src]="proyecto.urlImagen"
         alt="proyecto" 
         >
    <div class="card-body">
        <h5 class="card-title"><strong>{{proyecto.nombre}}</strong></h5>
        <p class="card-text">{{proyecto.descripcion}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent">{{proyecto.fecha}}</li>
        <li class="list-group-item bg-transparent">
            <a style="color:black" href={{proyecto.urlRepositorio}}>
                <b>
                  ir al repositorio
                </b>
            </a>
        </li>
    </ul>
    <div class="card-body"> 
        <div class="d-flex  mb-12 lg-12 sm-12">
            <div class="btn-group " 
                 role="group" 
                 aria-label="edit-delete">
                <button type="button" 
                        class="btn dropdown-toggle btn-transparent"
                        data-bs-toggle="dropdown">
                    <fa-icon [icon]= "faPencil"
                             style="color:black"
                    ></fa-icon>
                </button>
                <div class="dropdown-menu" >
                    <app-edit-proyect 
                    [proyecto]="proyecto"
                    ></app-edit-proyect>
                  </div>
                <button type="button" class="btn btn-transparent">
                    <fa-icon [icon]= "faTrash"
                             style="color:black"
                             (click)="onDelete(proyecto)">
                    </fa-icon>
                </button>
            </div> 
        </div>
    </div>
</div>
