#back{
    height: 100vh;
    min-width:100vw;
    padding-top: 170px;
    padding-bottom: 200px;
    background-color: transparent;
    background: url(https://cdn.pixabay.com/photo/2016/08/02/07/45/the-polygon-1562743_960_720.jpg) repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
#front{
    width: 700px;
    background-color: transparent;
    color:white;
    text-shadow: 1px 1px 5px black, 0 0 25px black, 0 0 5px black;
    box-shadow: 1px 4px 25px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    border: 0px;
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}