<div class="container" id="back">
  <div class="d-flex">
    <div class="flex-fill" id="front-left">
        <h3>
            {{title}}
        </h3>
        <p>
            {{text1}}
            <br>
            {{text2}}
            <br>
            {{text3}}
            <br>
            {{text4}}
        <p>
    </div>
    <div class="flex-fill" id="front-rigth">
        <img class="rounded-pill" src="https://i.ibb.co/hDJ9jGS/foto-guille.jpg" alt="foto guille color">
    </div>
  </div>
</div>

  
