#back{
    height: 100vh;
    min-width:100vw;
    padding-bottom:20vh;
    background: url(https://i.ibb.co/cyRZBSv/the-polygon-1562743-960-720.webp) repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
#banner{
    height:70vh;
    background: url(https://i.gifer.com/origin/2b/2bd6409223f135eefa87607dab8d12ef.gif) repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    border: 0px;
    border-radius: 20px;
    margin-top: 0px;
    margin-right: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card{
    margin-left: 2%;
    max-height: 40vh;
    text-align: center;
}
.rounded-pill{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 25vw;
    max-height: 25vh;
    margin-top: -12.5vh;
}
#acercademi{
    margin-top: 25vh;
    margin-bottom: 5vh;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px black, 0 0 25px black, 0 0 5px black;
    overflow: auto;
    max-height: 200px;
}

#card{
    width:100;
    height: 100vh;
    background-color: transparent;    
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20vh;
}
#caja_descripcion{
    margin-top: 0;
    text-shadow: 2px 2px 4px white, 0 0 25px white, 0 0 5px white;
    text-align: center;
    background-color: #e1e1e1;
    border: 0px;
    border-radius: 10px;
    box-shadow: 1px 4px 25px 0 rgba(0, 0, 0, 1);
    margin-bottom:30vh;
    min-height: 15vh;
}
#texto_desc{
    margin-top: 2vh;
}
h1{
    margin-bottom: 2%;    
}
