<form 
    (ngSubmit)="onSubmit()"
    class="mb-3" 
    Style="margin:20px; min-width:400px;">
    <h3>
        Editar Experiencia Laboral
    </h3>
    <div class="mb-3">
        <label for="text">Nombre de la Empresa</label>
        <input
            class="form-control" 
            type="text" 
            name="text" 
            id="text" 
            placeholder="'Nombre de la Empresa'" 
            [(ngModel)]="exp.text"
        />
    </div>
    <div class="mb-3">
        <label for="cargo">Cargo / Posición</label>
        <input 
            class="form-control"
            type="text" 
            name="cargo" 
            id="text" 
            placeholder="'Cargo'" 
            [(ngModel)]="exp.text"
        />
    </div>
    <div class="mb-3">
        <label for="descripcion">Descripcion de Actividades</label>
        <input 
            class="form-control"
            type="text" 
            name="descripcion" 
            id="descripcion" 
            placeholder="'descripcion de actividades'" 
            [(ngModel)]="exp.text"
        />
    </div>
    <div class="mb-3">
        <label for="dates">Período</label>
        <input 
            class="form-control"
            type="text" 
            name="dates" 
            id="dates" 
            placeholder="'Junio 2018 - Marzo 2020'"
            [(ngModel)]="exp.dates"
        />
    </div>
    <div class="mb-3">
        <label for="logo">Url Logo de la Empresa</label>
        <input 
            class="form-control"
            type="text" 
            name="brandLogoUrl"
            id="logo"
            placeholder="'https://www...'"
            [(ngModel)]="exp.brandLogoUrl"
        />
    </div>
    <div class="d-flex  mb-12 lg-12 sm-12">
        <button type="submit" class="btn btn-secondary">Enviar</button>
    </div>
</form>
