<form 
    class="add-form"   
    (ngSubmit)="onSubmit()"
    class="sm-8 mb-6 lg-4" 
    Style="margin:5%">
    <h3>
        Nueva Experiencia Laboral
    </h3>
    <div>
        <label for="text">Nombre de la Empresa</label>
        <input
            class="form-control" 
            type="text" 
            name="text" 
            id="text" 
            placeholder="'Nombre de la Empresa'" 
            [(ngModel)] = "text"
        />
    </div>
    <div>
        <label for="cargo">Cargo / Posición</label>
        <input 
            class="form-control"
            type="text" 
            name="cargo" 
            id="text" 
            placeholder="'Cargo'" 
            [(ngModel)] = "text"
        />
    </div>
    <div>
        <label for="dates">Período</label>
        <input 
            class="form-control"
            type="text" 
            name="dates" 
            id="dates" 
            placeholder="'Junio 2018 - Marzo 2020'"
            [(ngModel)] = "dates"
        />
    </div>
    <div >
        <label for="logo">Url Logo de la Empresa</label>
        <input 
            class="form-control"
            type="text" 
            name="brandLogoUrl"
            id="logo"
            placeholder="'https://www...'"
            [(ngModel)] = "brandLogoUrl"
        />
    </div>
    <div class="d-flex  mb-12 lg-12 sm-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
