<form 
    class="add-form"   
    (ngSubmit)="onSubmit()"
    *ngIf="showAddExp">
    <div class="form-control">
        <label for="text">Nombre de la empresa</label>
        <input 
            type="text" 
            name="text" 
            id="text" 
            placeholder="'Company Name'" 
            [(ngModel)] = "text"
        />
    </div>
    <div class="form-control">
        <label for="text">Cargo / Posición</label>
        <input 
            type="text" 
            name="cargo" 
            id="text" 
            placeholder="'cargo'" 
            [(ngModel)] = "text"
        />
    </div>

    <div class="form-control">
        <label for="day">Período</label>
        <input 
            type="text" 
            name="dates" 
            id="dates" 
            placeholder="'December 2021 untill today...'"
            [(ngModel)] = "dates"
        />
    </div>

    <div class="form-control">
        <label for="reminder">Url Logo de la Empresa</label>
        <input 
            type="text" 
            name="brandLogoUrl"
            id="logo"
            placeholder="'https://www...'"
            [(ngModel)] = "brandLogoUrl"
        />
    </div>
    <input type="submit" value="Save Exp" class="btn btn-block btn-dark">
</form>

