form{
    background-color: white;
}

.btn {

    background: rgb(34, 46, 46);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;

    
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
}
.btn-block {
    display: block;
    width: 100%;  
}

.form-control {
    margin: 20px 0;
    
}

.form-control label {
    display: block;
}

.form-control input {
    background-color: white;
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}