*{
    background-color: transparent;
}
#head{
    margin:10px;
}
.container{
    width:100%;
    margin: auto;
    overflow: auto;
    max-height: 500px;
    padding: 20px;
}
.container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.container::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
}

