<form 
    (ngSubmit)="onSubmit()"
    class="edit-form"   
    Style="margin:20px; min-width: 330px;">
    <h3>
        Editar Proyecto 
    </h3>
    <div class="mb-3">
        <label  for="nombre">Nombre del Proyecto</label>
        <input
            class="form-control" 
            type="text" 
            name="nombre" 
            id="nombre" 
            placeholder="'Nombre del Proyecto'" 
            [(ngModel)]="proyecto.nombre"
        />
    </div>
    <div class="mb-3">
        <label  for="descripcion">Descripción</label>
        <input 
            class="form-control"
            type="text" 
            name="descripcion" 
            id="text" 
            placeholder="de que se trata el proyecto" 
            [(ngModel)]="proyecto.descripcion"
        />
    </div>
    <div class="mb-3">
        <label for="fecha">Mes y Año de realización</label>
        <input 
            class="form-control"
            type="text" 
            name="fecha" 
            id="fecha" 
            placeholder="'Junio 2018'" 
            [(ngModel)]="proyecto.fecha"
        />
    </div>
    <div class="mb-3">
        <label for="urlImagen">Url de captura del proyecto</label>
        <input 
            class="form-control"
            type="text" 
            name="urlImagen" 
            id="urlImagen" 
            placeholder="'https://...'"
            [(ngModel)]="proyecto.urlImagen"
        />
    </div>
    <div class="mb-3">
        <label for="urlRepositorio">Url del repositorio</label>
        <input 
            class="form-control"
            type="text" 
            name="urlRepositorio"
            id="urlRepositorio"
            placeholder="'https://...'"
            [(ngModel)]="proyecto.urlRepositorio"
        />
    </div>
    <div class="d-flex  mb-12 lg-12 sm-12">
        <button type="submit" class="btn btn-secondary">Enviar</button>
    </div>
</form>
