<form 
    class="add-form"   
    (ngSubmit)="onSubmit()"
    class="sm-8 mb-6 lg-4"
    Style="margin:5%">
    <h3>
        Nuevo Curso
    </h3>
    <div>
        <label for="title">Nombre de la Institución</label>
        <input
            class="form-control" 
            type="text" 
            name="title" 
            id="title" 
            placeholder="'Nombre de la institución'" 
            [(ngModel)] = "title"
        />
    </div>
    <div>
        <label for="course">Courso / Grado</label>
        <input 
            class="form-control"
            type="text" 
            name="course" 
            id="course" 
            placeholder="'Course/Degree'" 
            [(ngModel)] = "course"
        />
    </div>
    <div>
        <label for="descripcion">Breve descripcion</label>
        <input
            class="form-control" 
            type="text" 
            name="descripcion" 
            id="descripcion" 
            placeholder="'breve descripcion'"
            [(ngModel)] = "year"
        />
    </div>
    <div>
        <label for="year">Año</label>
        <input
            class="form-control" 
            type="text" 
            name="year" 
            id="year" 
            placeholder="'2018'"
            [(ngModel)] = "year"
        />
    </div>
    <div>
        <label for="certificadoUrl">Url certificado</label>
        <input 
            class="form-control"
            type="text" 
            name="certificadoUrl" 
            id="certificadoUrl" 
            placeholder="'https://...'"
            [(ngModel)] = "certificadoUrl"
        />
    </div>
    <div>
        <label for="logo">Url del logo de la institución </label>
        <input
            class="form-control" 
            type="text" 
            name="instLogoUrl"
            id="logo"
            placeholder="'https://www...'"
            [(ngModel)] = "instLogoUrl"
        />
    </div>
    <div class="d-flex  mb-12 lg-12 sm-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>