<form 
    class="add-form"   
    (ngSubmit)="onSubmit()"
    *ngIf="showAddEdu">
    <div class="form-control">
        <label for="title">Nombre de la institución</label>
        <input 
            type="text" 
            name="title" 
            id="title" 
            placeholder="'Nombre de la institución'" 
            [(ngModel)] = "title"
        />
    </div>

    <div class="form-control">
        <label for="course">Courso / Grado</label>
        <input 
            type="text" 
            name="course" 
            id="course" 
            placeholder="'Course/Degree'" 
            [(ngModel)] = "course"
        />
    </div>


    <div class="form-control">
        <label for="year">Año</label>
        <input 
            type="text" 
            name="year" 
            id="year" 
            placeholder="'2018'"
            [(ngModel)] = "year"
        />
    </div>

    <div class="form-control">
        <label for="year">Url certificado</label>
        <input 
            type="text" 
            name="certificadoUrl" 
            id="certificadoUrl" 
            placeholder="'https://...'"
            [(ngModel)] = "certificadoUrl"
        />
    </div>

    <div class="form-control">
        <label for="logo">Url logo de la institución </label>
        <input 
            type="text" 
            name="instLogoUrl"
            id="logo"
            placeholder="'https://www...'"
            [(ngModel)] = "instLogoUrl"
        />
    </div>
    <input type="submit" value="Save Add" class="btn btn-block btn-dark">
</form>
