.container{
    height: 100vh;
    min-width:100vw;
    background-color: transparent;
    background: url(https://cdn.pixabay.com/photo/2016/08/02/07/45/the-polygon-1562743_960_720.jpg) repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
.card{
    width:400px;
    background-color: transparent;
    margin: auto;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.rounded-pill{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3{
    display: flex;
    justify-content: flex-end;
}
#close-icon{
    cursor: pointer;
    transition: transform 4s;
}
#close-icon:hover{
    transform: rotate(360deg);

}
#Linkedin-btn{
    background-color:rgb(17, 0, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Linkedin-btna:hover{
    background-color:rgb(77, 68, 202);
}