<!--este elemento div fue seteado para cumplir la función de un jumbotron-->
<div class="container">
  <div class="card">
      <h3>
        <a routerLink="/" id="close-icon">
          <fa-icon [icon]="faTimes" [ngStyle] = "{'color':'black'}">    
          </fa-icon>
        </a>  
      </h3>
      <img  
        class="card-img-top rounded-pill"
        src="./assets/images/foto guille.jpg" 
        alt="Guillermo B&W" 
        style="width:100%">
      <div class="card-img">
        <h4 class="card-title  text-center">
        <strong>
            Hi, I´m Guille
        </strong>
        </h4>
        <p class="card-text">
          I´m a full stack web developer, please contact me, I need to work!!
          I´ll leave my linkedIn profile link down here for you to get in touch with me... 
        </p>
        <a href="https://www.linkedin.com/in/guillermo-poggioni-061777249" class="btn text-light" id="Linkedin-btn" >
          <strong>
            LinkedIn
          </strong>
        </a>
      </div>
  </div>
</div>

