<div class="container-fluid" id="background">
    <div class="container-fluid" id="proyectos">
        <div class="jumbotron">
            <div class="container text-center">
              <h1>Idiomas</h1>                  
            </div>
        </div>
        <div class="contenedor-habilidades-blandas">
            <div class="container">
                <div class="row">
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="col my-4">
                        <div class="container">
                            <circle-progress
                                id="progress-bar"
                                [percent]="100"
                                [radius]="80"
                                [space]="-20"
                                [outerStrokeWidth]="20"
                                [innerStrokeWidth]="20"
                                [outerStrokeLinecap]="'square'"
                                [outerStrokeColor]="'black'"
                                [innerStrokeColor]="'rgb(185, 185, 185)'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showBackground]="true"
                                [backgroundColor]="'transparent'"
                                [showImage]="true"
                                [imageSrc]="'https://i.ibb.co/x70pVT4/flag-of-the-united-kingdom-english-computer-icons-english-76f23cb221427925e4ceed0a4881c0d2.png'"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [outerStrokeGradient]="true"
                                [outerStrokeGradientStopColor]="'black'"
                            ></circle-progress>
                            <h4>
                                <b>
                                    English
                                </b>          
                            </h4>
                            <h6>
                                fluent communication
                            </h6>
                        </div>
                    </div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                    <div class="col my-4">
                        <div class="container">
                            <circle-progress
                                id="progress-bar"
                                [percent]="100"
                                [radius]="80"
                                [space]="-20"
                                [outerStrokeWidth]="20"
                                [innerStrokeWidth]="20"
                                [outerStrokeLinecap]="'square'"
                                [outerStrokeColor]="'black'"
                                [innerStrokeColor]="'rgb(185, 185, 185)'"
                                [animation]="true"
                                [animationDuration]="300"
                                [showBackground]="true"
                                [backgroundColor]="'transparent'"
                                [showImage]="true"
                                [imageSrc]="'https://i.ibb.co/cD6hTJC/kisspng-flag-of-brazil-national-flag-flag-of-hungary-street-art-5ad9b2643f77b5-51393171152421642026.png'"
                                [imageHeight]="55"
                                [imageWidth]="100"
                                [outerStrokeGradient]="true"
                                [outerStrokeGradientStopColor]="'black'"
                            ></circle-progress>
                            <h4>
                                <b>
                                    Português 
                                </b>
                            </h4>
                            <h6>
                                fluente
                            </h6>
                        </div>
                    </div>
<!--//////////////////////////////////////////////////////////////////////////////////////-->
                </div>    
            </div>           
        </div>
    </div>
</div>

