.d-flex{
    min-width: 100vw;
    min-height: 100vh;
    background: white center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom:150px;
}
.flex-fill{
    width:50%;
    margin: 20px;
    padding-bottom: 150px;
    margin-bottom: 100px;
    background-color:transparent;
}